doctype html 
html(lang="ko")
    head 
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body    
        header           
            h1=pageTitle
            //- 태그에 하나의 변수값만 갖는 경우 =로 표시할 수 있다.
        main    
            block content      
    include partials/footer.pug